*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
}

#header_section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#header_section .row{
    display: flex;
    justify-content: center;
    gap: 8rem;
}
.logo_section img{
    width: 75%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
   list-style: none;
}
nav ul li{
    padding-right: 1.5rem;
    
}
nav ul li a{
   color: black;
   font-weight: 700;
   padding: 10px;
}
nav ul li a:hover{
 background-color: rgb(249, 246, 246);
 
}
.btn_section{
    border: 1px solid black;
    padding: 13px 28px;
    border-radius: 10px;
    color: black;
    position: relative;
    z-index: 21;
}

.btn_section:hover{
    color: white;
    background-color: black;
}

.dropdown_1{
    padding: 21px;

}
.dropdown_1:hover{
    background-color: rgb(239, 239, 239);
}
.dropdown_1 i{
    padding-right: 5px;
}
.dropdown_1 p{
    margin-left: 24px;
    font-size: 12px;
}
.dropdown_errow{
    width: 60rem;
    background-color: #fdfdfd;
    padding: 20px;
    display: none;
    margin-top: 0.3rem;
    position: absolute;
    box-shadow: 4px 4px 4px 4px whitesmoke;
    border-radius: 10px;
}
.avada_section_dropdown{
    display: flex;
    padding-top: 22px;
}
.dropdown_section1{
    padding-right: 3rem;
    padding-left: 1rem;
    cursor: pointer;
}
.dropdown_section2{
    padding-right: 3rem;
    cursor: pointer;
}
.dropdown_section:hover .dropdown_errow{
    display: block;
    
}
.btn_culam_section{
    text-align: center;
    margin-top: 20px;
}
.explore_btn_{
    background-color: #f2f2f2;
    padding: 10px 22rem;
    border-radius: 10px;
}
.explore_btn_ i{
    padding-left: 10px;
}
.explore_btn_:hover{
    background-color: #65bd7d;;
    color: white;
   }
.dropdown_section1 p{
    color: #716e6e;
}
.dropdown_section2 p{
    color: #716e6e;
}
 .icon_section{
    padding-top: 22px;
 }  
 .icon_section p{
    color: #716e6e;
 }  
.down_section3{
        padding: 17px 19px;
    background-color:#ffe979;
        border-radius: 10px;
        cursor: pointer;
}
.down_section4{
        padding: 17px 19px;
        background-color: #98d598;
            border-radius: 10px;
        margin-top: 10px;
        cursor: pointer;
}
.down_section5{
        padding: 17px 19px;
        margin-top: 10px;
        background-color: #b8d7e4;
            border-radius: 10px;
            cursor: pointer;
}
.down_section6{
        padding: 17px 19px;
        margin-top: 10px;
        background-color: #b5caf0;
            border-radius: 10px;
            cursor: pointer;
    }
.down_section7{
        padding: 17px 19px;
        margin-top: 10px;
        background-color: #f4ca7b;
            border-radius: 10px;
            cursor: pointer;
    }
.down_section8{
        padding: 17px 19px;
        margin-top: 10px;
        background-color: #8ccb8c;
            border-radius: 10px;
            cursor: pointer;
    }
.down_section9{
        padding: 17px 19px;
        margin-top: 10px;
        background-color: skyblue;
            border-radius: 10px;
            cursor: pointer;
    }
.icon_section2{
    padding: 22px;
    background-color: white;
    box-shadow: 4px 4px 4px 4px whitesmoke;
    display: none;
    padding: 13px;
    margin-top: 3px;
    /* overflow: hidden; */
    position: absolute;
    width: 21rem;
    border-radius: 10px;
}
.avada_dropdown:hover .icon_section2{
    display: block;
}
.icon_section3{
    padding: 22px;
    background-color: white;
    box-shadow: 4px 4px 4px 4px whitesmoke;
    padding: 13px;
    margin-top: 3px;
    /* overflow: hidden; */
    position: absolute;
    width: 23rem;
    border-radius: 10px;
    display: none;
}
.down_section10:hover, .down_section11:hover, .down_section12:hover, .down_section13:hover{
    background-color: #f9f7f7;
}
.icon_section3 i{
    padding-right: 15px;

}
.icon_section3 p{
    font-size: 13px;
    margin-left: 31px;

}
.down_section10{
    padding: 21px;
        font-size: 1rem;
        cursor: pointer;
}
.down_section11{
    padding: 21px;
        font-size: 1rem;
        cursor: pointer;
}
.down_section12{
    padding: 21px;
        font-size: 1rem;
        cursor: pointer;
}
.down_section13{
    padding: 21px;
        font-size: 1rem;
        cursor: pointer;
}
.resources_btn{
        font-size: 1rem;
    padding: 21px;
    text-align: center;
}
.resources_btn_section{
    background-color: #f2f2f2;
    padding: 11px 3rem;
    border-radius: 10px;
}
.resources_btn_section:hover{
    background-color: #65bd7d;;
    color: white;
}
.drop_resources:hover .icon_section3{
    display: block;
}
/* HOME SECTION */
#home_section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}
#home_section .container .row{
    display: flex;
}
.home_btn{
    font-size: 20px;
    background-color: #3d3636 !important;
    color: white;
    padding: 17px 45px;
    border-radius: 10px;
}
.home_btn:hover{
    background-color: black !important;
}
.home_heading_section h1{
    FONT-SIZE: 3.5REM;
    WIDTH: 96%;
    margin-bottom: 2rem;
}
.home_heading_section p{
    font-size: 15px;
    width: 85%;
    color: #736f6f; 
    margin-bottom: 3rem;
}
.home_heading_section{
    FONT-SIZE: 2.5REM;
    WIDTH: 40%;
}
.home_img_section{
    width: 65%;
}
.home_img_section img{
    width: 100%;
}
.number_section{
    display: flex;
}
.number_form{
    padding-left: 1rem;
}
.number_form2{
    padding-left: 4rem;
}
.number_form h2{
font-size: 30px;
}
.number_form2 h2{
font-size: 30px;
}
.number_form p{
    font-size: 12px;
    width: 100%;
}
.number_form2 p{
    font-size: 12px;
    width: 100%;
}
/* page section */
#page_section{
    padding-bottom: 4rem;
    padding-top: 4rem;

}
.page_main_section{
    background-color: #ffe979;
    /* padding: 66px; */
    width: 33%;
    /* padding: 68px 91px; */
    height: 34rem;
    text-align: center;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 11px;
    height: 36rem;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.page_main_section2{
    background-color: #b7f598;;
    /* padding: 66px; */
    width: 33%;
    /* padding: 68px 91px; */
    height: 34rem;
    text-align: center;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 11px;
    height: 36rem;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}
/* .page_main_section2:hover{
    background-color: #b7f598;;
} */
.page_main_section3{
    background-color: #7ed5f0;
    /* padding: 66px; */
    width: 33%;
    /* padding: 68px 91px; */
    height: 34rem;
    text-align: center;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 11px;
    height: 36rem;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}
/* .page_main_section3:hover{
    background-color: #7ed5f0;
} */
.page_img img{
    width: 54%;
}
.page_section1 h5{
    font-size: 19px;
}
.page_section1 h2{
    font-size: 29px;
    margin-bottom: 19px;
}
.page_section2 h5{
    font-size: 19px;
}
.page_section2 h2{
    font-size: 29px;
    margin-bottom: 19px;
}
.page_section3 h5{
    font-size: 19px;
}
.page_section3 h2{
    font-size: 29px;
    margin-bottom: 19px;
}
.page_btn1{
    width: 32%;
    background-color: #cb9b41;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}
.page_main_section:hover, .page_main_section2:hover, .page_main_section3:hover{
    transform: scale(1.02);
}
.page_btn11{
    width: 26%;
    height: 2.5rem;
    background-color: #07a807;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 0px -3px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_btn10{
    width: 29%;
    background-color: #15a7e3;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.page_btn2{
    width: 35%;
    background-color: #cb9b41;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
      margin-right: 1rem;
    margin-bottom: 1rem;
}
.page_btn12{
    width: 20%;
    height: 2.5rem;
    background-color: #07a807;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 0px -3px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_btn22{
    width: 29%;
    background-color: #15a7e3;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.page_btn3{
    width: 24%;
    background-color: #cb9b41;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.page_btn13{
    width: 35%;
    height: 2.5rem;
    background-color: #07a807;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 0px -3px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_btn32{
    width: 26%;
    background-color: #15a7e3;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.page_btn4{
    width: 40%;
    background-color: #cb9b41;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
      margin-right: 1rem;
    margin-bottom: 1rem;
}
.page_btn14{
    width: 35%;
    height: 2.5rem;
    background-color: #07a807;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 0px -3px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_btn42{
    width: 38%;
    background-color: #15a7e3;
    /* color: white; */
    /* padding: 5px 28px; */
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.page_btn_section a{
    color: white;
}
.page_btn_section_2 a{
    color: white;
}
.page_btn_section_3 a{
    color: white;
}
.page_btn_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;

}
.page_btn_section_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;

}
.page_btn_section_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
}
.page_img_3 img{
    width: 64%;
}
#page_section .row{
    display: flex;
}

/* desing_section */
.heading_pera_section h2{
    font-size: 3rem;
}
.heading_pera_section p{
   color: #9c9b9b;
}
.heading_section_desing{
    text-align: center;
}
.img_desing img{
    width: 4%;
}
.img_desing{
    margin-bottom: 13px;
}
.heading_pera_section{
    margin-bottom: 3rem;
}
.heading_pera_section h2{
    margin-bottom: 1rem;
}

/* .row{
    display: flex;
} */
.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
a.filter_link{
    color:black;
}
.filter_style{
    padding: 11px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 900;
    cursor: pointer;
    font-size: 18px;
}

.filter_style:hover{
    background-color: #f9f7f7;
}
.filter_sub_section{
    display: flex;
}
#desing_section{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.bmwm2_competation{
 margin-right: 10px;
}
.filter_sub_section{
    padding-top: 30px;
}
.w-75 ul>li{
 display: flex;
 justify-content: center;
}
.fltr_common{
    left: auto!important;
}
.all-in_one_heading_section{
    text-align: center;
    margin-bottom: 7rem;

}
.all-in_one_heading_section h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.all-in_one_heading_section p{
    color: #9c9b9b;
}
.website_info_section{
    width: 28%;
    /* padding-right: 58px; */
    margin-right: 4rem;
    margin-bottom: 4rem;
}
.first_website_info img{
    width: 100%;
}
.first_website_info {
    width: 100%;
}

.heding_section{
    text-align: center;
}
.heding_section p{
    width: 21rem;
    font-size: 13px;
    color: #746f6f;
}
.heding_section h3{
    margin-bottom:1rem;
    margin-top: 1rem;
    font-size: 23px;
}
#All-In-One .row{
    display: flex;
    flex-wrap: wrap;
}
#All-In-One{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.boder_section{
    border-bottom: 1px solid #eaeaea;
}
#owners{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.website_section{
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
    margin-top: 13px;
}
.owner_img{
    margin-bottom: 23px;
}
.owner_img img{
    width: 25%;
}
.owner_website{
    width: 23%;
    margin-right: 25px;
}
#owners .row {
    display: flex;
    text-align: center;
}
.owner_heading p{
    font-size: 15px;
    color: #746f6f;
}
.owner_heading h3{
    font-size: 20px;
    margin-bottom: 11px;
}
.img_commn{
    width: 57% !important;
}
.img_commn2{
    width: 36% !important;
}
.team_img_section{
    width: 50%;
}
.main_team_heading_section{
    width: 50%;
}
.team_img_section img{
    width: 100%;
    height: 100%;

}
#team_section .row{
    display: flex;
}
.team_heading_section h4{
    font-size: 25px;
    margin-bottom: 33px;
}
.team_heading_section img{
    width: 97%;
}
.img_link_section{
    display: flex;
    margin-bottom: 13px;
    margin-top: 38px;
}
.img_link_section img{
    padding-right: 18px;
    width: 8%;
}
.main_team_heading_section{
    background-color: #ffe979;
    padding: 7rem;
}
.main_team_heading_section a{
    color: black;
    text-decoration: underline;
}
#team_section{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.footer_btn{
    margin-top: 3rem;
}
.main_heading_section{
    width: 50%;
}
.footer_img{
    width: 50%;
}
.buy_heading_section h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.buy_heading_section p{
    font-size: 16px;
    width: 90%;
}
#buy_section{
    padding-bottom: 1rem;
    padding-top: 4rem;
}
#buy_section .row{
    display: flex;
    align-items: center;
}
#buy_section .container{
    background-color: #b7f598;
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    bottom: -4rem;
}

.faq_heading_section h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: white;
    font-size: 24px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
   
  }
  .accordion:hover{
    color: #07a807;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .hr_class{
    color: gray;
  }
  #faq_section .container i{
    color: #07a807;
    padding-right: 10px;
    font-size: 20px;
    margin-bottom: 17px;
    margin-top: 17px;
  }
  #faq_section .container p{
    color: #746f6f;
  }
  .faq_main_section{
    margin-top: 3rem;
  }
  .first_accordion{
    border-bottom: 1px solid #e6e6e6;
  }

  /* Footer Section */
  .footer_containere_section{
    width: 25%;
  }
  .footer_containere_section img{
    width: 45%;
  }
  .footer_containere_section a{
    color: white;
  }
  .footer_containere_section p{
    color: white;
    margin-bottom: 23px;
    font-size: 14px;
  }
  .footer_containere_section input{
    padding-bottom: 10px;
    padding: 14px 9.6rem 10px 7px;
    border-radius: 10px;

  }
  .last_btn:hover{
    color: white !important;
    background-color: #228522;
  }
  .subscribe_btn a{
    background-color: black;
    padding: 9px 17px;
    border-radius: 10px;
    position: relative;
    right: -12rem;
    top: -36px;
  }
  .footer_containere_section a:hover{
    color: #73ec73;
  }
  .footer_containere_section li{
    padding-bottom: 10px;
  }
  #footer_section{
    padding-top: 12rem;
    padding-bottom: 4rem;
    background-color: black;
  }
  #footer_section .row{
    display: flex;
    
    
  }
  .secound_section_footer .row{
display: flex;
justify-content: space-between;
align-items: center;
  }
.secound_section_footer{
    border-top: 1px solid gray;
      margin-bottom: 16px;
      margin-top: 6rem;
}
.footer_pera_section{
    color: white;
    margin-top: 3rem;
    font-size: 13px;
}
.social_icon{
    color: white;
    margin-top: 3rem;
}
.social_icon i{
    background-color: #2b2b2b;
    padding: 17px 20px;
    border-radius: 11px;
    font-size: 13px;
    margin-right: 6px;
}
.social_icon i:hover{
    background-color: #07a807;
    color: white;
}